<ul class="nav nav-pills nav-stacked">
  {{#each pages}}
    {{#is data.section "Welcome"}}
    <li{{#is ../../page.dest this.dest}} class="active"{{/is}}><a href="{{relative ../../page.dest this.dest}}" {{> click-tracker }}>{{data.section}}</a></li>
    {{/is}}
  {{/each}}
</ul>


<span class="nav-section-title">
  Getting Started
</span>
<ul class="nav nav-pills nav-stacked">
  {{#each pages}}
    {{#is data.section "getting started"}}
      {{!> sidenav-link }}
      <li{{#is ../../page.dest this.dest}} class="active"{{/is}}><a href="{{relative ../../page.dest this.dest}}" {{> click-tracker }}>{{data.title}}</a></li>
    {{/is}}
  {{/each}}
</ul>


<span class="nav-section-title">
  Templates
</span>
<ul class="nav nav-pills nav-stacked">
  {{#each pages}}
    {{#is data.section "templates"}}
      {{!> sidenav-link }}
      <li{{#is ../../page.dest this.dest}} class="active"{{/is}}><a href="{{relative ../../page.dest this.dest}}" {{> click-tracker }}>{{data.title}}</a></li>
    {{/is}}
  {{/each}}
</ul>


<span class="nav-section-title">
  Data
</span>
<ul class="nav nav-pills nav-stacked">
  {{#each pages}}
    {{#is data.section "data"}}
      {{!> sidenav-link }}
      <li{{#is ../../page.dest this.dest}} class="active"{{/is}}><a href="{{relative ../../page.dest this.dest}}" {{> click-tracker }}>{{data.title}}</a></li>
    {{/is}}
  {{/each}}
</ul>


<span class="nav-section-title">
  Configuration
</span>
<ul class="nav nav-pills nav-stacked">
  {{#each pages}}
    {{#is data.section "configuration"}}
      {{!> sidenav-link }}
      <li{{#is ../../page.dest this.dest}} class="active"{{/is}}><a href="{{relative ../../page.dest this.dest}}" {{> click-tracker }}>{{data.title}}</a></li>
    {{/is}}
  {{/each}}
</ul>


<span class="nav-section-title">
  Content
</span>
<ul class="nav nav-pills nav-stacked">
  {{#each pages}}
    {{#is data.section "content"}}
      {{!> sidenav-link }}
      <li{{#is ../../page.dest this.dest}} class="active"{{/is}}><a href="{{relative ../../page.dest this.dest}}" {{> click-tracker }}>{{data.title}}</a></li>
    {{/is}}
  {{/each}}
</ul>


<span class="nav-section-title">
  Development
</span>
<ul class="nav nav-pills nav-stacked">
  {{#each pages}}
    {{#is data.section "development"}}
      {{!> sidenav-link }}
      <li{{#is ../../page.dest this.dest}} class="active"{{/is}}><a href="{{relative ../../page.dest this.dest}}" {{> click-tracker }}>{{data.title}}</a></li>
    {{/is}}
  {{/each}}
</ul>
