---
page:
  title: Markdown Examples
  links:
    -
      href: index.html
      text: Return to Index
    -
      href: https://github.com/assemble/assemble
      text: Visit Assemble
    -
      href: https://github.com/assemble/toolkit
      text: Visit Toolkit
---

<div class="page-header">
  <h1>{{page.title}}</h1>
</div>



{{! inline markdown, requires markdown helper. When using inline markdown, you have to follow the indentation rules of markdown. }}
{{#markdown}}

### Congrats!

You're looking at inline markdown content, wrapped with handlebars (mustache) tags!
{{! handlebars templates can even be used }}
{{#page.links}}
[{{text}}]({{href}})
{{/page.links}}

{{/markdown}}


{{#markdown}}
### Pretty links
[{{text}}]({{href}})
{{/markdown}}

