---
page:
  title: External Content
  description: Assemble makes it easy to include content from external files.

# "content" variable is used in the markdown example below
content: <%= config.content %>/blockquote.md
---
      <div class="page-header">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.description }}</p>
      </div>

      <p> </p>

      <hr>

      <!-- Import markdown content from path defined in the "content" variable in the YAML front matter -->
      {{{md content}}}

      <!-- Import content from "./src/data/external-content.json" -->
      {{#external-content}}
        {{#if html}}{{{html}}}{{/if}}
        {{#if md}}{{{md md}}}{{/if}}
        {{#if markdown}} {{#markdown}} {{this.markdown}} {{/markdown}} {{/if}}
      {{/external-content}}
