---
page:
  title: Example Grid
---
      <div class="page-header">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ grid.container.description }}</p>

        <p>See the code for this example here: <a href="https://github.com/assemble/assemble/tree/master/examples/advanced/src/pages/grid.hbs">Grid Source</a> </p>
      </div>

      <!-- Grid
      ==================================================== -->
      {{#grid.container}}
      <div class="bs-docs-grid">{{#rows}}
        <div class="row show-grid">{{#columns}}
          <div class="span{{width}}"> {{content}} </div>
          {{/columns}}</div>
        {{/rows}}</div>
      {{/grid.container}}


{{! inline markdown, below, is compiled to HTML }}
{{#markdown}}

This grid was created using these simple handlebars templates:

``` html
\{{#grid.container}}
<div class="bs-docs-grid">\{{#rows}}
  <div class="row show-grid">\{{#columns}}
    <div class="span{{width}}"> \{{content}} </div>
    \{{/columns}}</div>
  \{{/rows}}</div>
\{{/grid.container}}
```

and an external file, `data.json`, to provide the content and configure the desired number of columns and rows.

``` json
{
  "container": {
    "description": "Basic grid system, with container, rows and columns.",
    "rows": [
      {
        "columns": [
          {
            "width": 1,
            "content": "1"
          },
          {
            "width": 1,
            "content": "1"
          },
          {
            "width": 1,
            "content": "1"
          }
  ...
```


{{/markdown}}