---
page:
  title: Markdown
  description: Write inline markdown inside any HTML file.

  links:
    -
      href: markdown-inline.html
      text: Inline Markdown
      modifier: active
    -
      href: markdown-imported.html
      text: Imported Markdown
    -
      href: external-content.html
      text: External Content
    -
      href: grid.html
      text: Grid
    -
      href: structured-content.html
      text: Structured Content
---
      <div class="page-header">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.description }}</p>
      </div>

<!-- Inline Markdown. -->
{{#markdown}}

### Inline Markdown

This is an example of `inline markdown`.  Just write markdown wherever you want and wrap it with `\{{#markdown}}  \{{/markdown}}` section tags, then run `grunt assemble` to compile it to HTML.



#### Embedded Templates!

You can even _add handlebars templates inside the markdown_, like this:

``` handlebars
<nav class="nav nav-pills nav-stacked">
\{{#page.links}}
  <li class="\{{modifier}}">[\{{text}}](\{{href}})</li>
\{{/page.links}}
</nav>
```

and to get the data for our links we can either reference an external `.json` file, or use `YAML front matter`, like this:

``` yaml
---
  links:
    -
      href: markdown-inline.html
      text: Inline Markdown
      modifier: active
    -
      href: markdown-imported.html
      text: Imported Markdown
    -
      href: external-content.html
      text: External Content
    -
      href: grid.html
      text: Grid
    -
      href: structured-content.html
      text: Structured Content
---
```

and it renders to this:

<nav class="nav nav-pills nav-stacked">
{{#page.links}}
  <li class="{{modifier}}">[{{text}}]({{href}})</li>
{{/page.links}}
</nav>



---

# More example markdown

## Second-level Heading

### Third-level Heading

#### Fourth-level heading

``` md
# First-level heading

## Second-level Heading

### Third-level Heading

#### Fourth-level heading
```


## Paragraphs

This is a paragraph. It has two sentences.

This is another paragraph. It also has
two sentences.


``` md
This is a paragraph. It has two sentences.

This is another paragraph. It also has
two sentences.
```

## Lists

* An item in a bulleted (unordered) list
    * A subitem, indented with 4 spaces
* Another item in a bulleted list
1. An item in an enumerated (ordered) list
   1.1. A subitem, indented with 4 spaces
2. Another item in an enumerated list

``` md
* An item in a bulleted (unordered) list
    * A subitem, indented with 4 spaces
* Another item in a bulleted list
1. An item in an enumerated (ordered) list
   1.1. A subitem, indented with 4 spaces
2. Another item in an enumerated list
```



{{/markdown}}
