---
page:
  title: YAML Front Matter
  description: Write inline markdown inside any HTML file.

  links:
    -
      href: markdown-inline.html
      text: Inline Markdown
    -
      href: markdown-imported.html
      text: Imported Markdown
    -
      href: external-content.html
      text: External Content
    -
      href: grid.html
      text: Grid
    -
      href: structured-content.html
      text: Structured Content
---
      <div class="page-header">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.description }}</p>
      </div>

      <div class="row">
        <div class="span3">

          <!-- Create links from YAML header. -->
          <nav class="nav nav-pills nav-stacked">
            {{#page.links}}
            <li> <a href="{{href}}">{{text}}</a> </li>
            {{/page.links}}
          </nav>

        </div>
        <div class="span9">

          <!-- Import content from YAML header. -->
          {{{md content}}}

        </div>
      </div>
