<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{#if title}}{{{title}}}{{else}}Paths Test{{/if}}</title>
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
  </head>
  <body style="padding-top: 60px;">
    <div class="container">
      {{> body }}
    </div>

    <div class="container" style="display: none">
      <h3>Paths Examples</h3>

{{inspect page 'json'}}

      <ul>
      {{#each pages}}
        <li><a href="{{relative ../page.dest this.dest}}">{{basename}}</a></li>
        <!--
        "this"
        ===============================
        this.src:      {{this.src}}
        this.dest:     {{this.dest}}
        this.dirname:  {{this.dirname}}
        this.filename: {{this.filename}}
        this.pagename: {{this.pagename}}
        this.basename: {{this.basename}}
        this.ext:      {{this.ext}}

        "page"
        ===============================
        page.src:      {{../page.src}}
        page.dest:     {{../page.dest}}
        page.dirname:  {{../page.dirname}}
        page.filename: {{../page.filename}}
        page.pagename: {{../page.pagename}}
        page.basename: {{../page.basename}}
        page.ext:      {{../page.ext}}

        "root"
        ===============================
        dest:          {{src}}
        dest:          {{dest}}
        dirname:       {{dirname}}
        filename:      {{filename}}
        pagename:      {{pagename}}
        basename:      {{basename}}
        ext:           {{ext}}
        -->
      {{/each}}
      </ul>
    </div>
  </body>
</html>