<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{#if title}}{{title}}{{else}}Paths Test{{/if}}</title>
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
  </head>
  <body style="padding-top: 60px;">
    <div class="container">
      {{> body }}
    </div>

    <div class="container" style="display: none">
      <h3>Paths Examples</h3>

{{inspect page 'json'}}

      <ul>
      {{#each pages}}
        <li><a href="{{relative ../page.dest this.dest}}">{{this.basename}}</a></li>
        <!--
        "this"
        ===============================
        this.dest:     {{this.dest}}
        this.absolute: {{this.absolute}}
        this.dirname:  {{this.dirname}}
        this.filename: {{this.filename}}
        this.pagename: {{this.pagename}}
        this.basename: {{this.basename}}
        this.extname:  {{this.extname}}
        this.ext:      {{this.ext}}

        "page"
        ===============================
        page.dest:     {{../page.dest}}
        page.absolute: {{../page.absolute}}
        page.dirname:  {{../page.dirname}}
        page.filename: {{../page.filename}}
        page.pagename: {{../page.pagename}}
        page.basename: {{../page.basename}}
        page.extname:  {{../page.extname}}
        page.ext:      {{../page.ext}}

        "root"
        ===============================
        dest:          {{../dest}}
        absolute:      {{../absolute}}
        dirname:       {{../dirname}}
        filename:      {{../filename}}
        pagename:      {{../pagename}}
        basename:      {{../basename}}
        extname:       {{../extname}}
        ext:           {{../ext}}
        -->
      {{/each}}
      </ul>
    </div>
  </body>
</html>