<div class="page-header">
  <h4>{{one}}</h4>
</div>

<div class="examples">
  <h4>test1.yaml</h4>
  <div>{{test1.foo}}</div>
</div>

<div class="page-header">
  <h4>{{two}}</h4>
</div>

<div class="examples">
  <h4>test2.yml</h4>
  <div>{{test2.foo}}</div>
</div>

<div class="page-header">
  <h4>{{three}}</h4>
</div>

<div class="examples">
  <h4>test3.json</h4>
  <div>{{test3.foo}}</div>
</div>

<div class="examples">
  <h4>common1.json</h4>
  <div>{{common1.content}}</div>
</div>

<div class="examples">
  <h4>common2.yml</h4>
  <div>{{common2.content}}</div>
</div>
