---
links: <%= config.links %>
sidebar:
  links: <%= config.sidebar.links %>
---
<!DOCTYPE html>
<html>
  <head>
    <title> {{ page.title }} </title>
    <link rel="stylesheet" href="{{assets}}/bootstrap.css">
    <link rel="stylesheet" href="{{assets}}/docs.css">
  </head>
  <body>

    <!-- Navbar
    ============================================= -->
    {{> navbar }}

    <div class="container">
      <div class="row">
        <div class="span3">
          <nav class="nav nav-pills nav-stacked">
            {{#sidebar.links}}
            <li> <a href="{{href}}">{{text}}</a> </li>
            {{/sidebar.links}}
          </nav>
        </div>

        <!-- Content
        ============================================= -->
        <div class="span9">
          {{> body }}
        </div>
      </div>
    </div>

  </body>
</html>
